<div style="padding: 5px; border-bottom: 2px solid black;">
    <h4>Bienvenido</h4>
    <br />
    <u>Nombre:</u>
    {{first_name}}
    <br />
    <u>Apellido:</u>
    {{last_name}}
    <br />
    <u>Email:</u>
    {{email}}
    <br />
    <u>Edad:</u>
    {{age}}
    <br />
    <u>Rol:</u>
    <span style="color: red;"><strong>[{{role}}]</strong></span><br />
    <a href="/auth/logout" class="btn btn-secondary">LOGOUT</a>
</div>
<h1
    style="border-bottom: 2px solid black; text-align: center; font-weight: bold;"
>PRODUCTOS</h1>
<div>
    {{#each PRODUCTS}}
        <ul
            style="display: flex; list-style: none; flex-direction: column; border-bottom: 2px solid black;"
        >
            <li><strong>Name:</strong> {{this.title}}</li>
            <li><strong>Description:</strong> {{this.description}}</li>
            <li><strong>Category:</strong> {{this.category}}</li>
            <li><strong>Price:</strong> {{this.price}}</li>
            <li><strong>Stock:</strong> {{this.stock}}</li>
            <li><strong>Code:</strong> {{this.code}}</li>
            <button
                style="max-width: fit-content; margin-bottom: 5px;"
                class="btn btn-primary"
                onclick="addProductToCart({{json this._id}})"
            >Agregar al carrito</button>
        </ul>
    {{/each}}
    {{#if prevLink}}
        <a href={{prevLink}}>Anterior</a>
    {{/if}}
    {{#if nextLink}}
        <a href={{nextLink}}>Siguiente</a>
    {{/if}}
</div>
<script src="/js/addProductToCart.js"></script>