<h1 style="border-bottom: 2px solid black; text-align: center;">PRODUCTOS</h1>
<div>
    {{#each PRODUCTS}}
        <ul
            style="display: flex; list-style: none; flex-direction: column; border-bottom: 2px solid black;"
        >
            <li><strong>Name:</strong> {{this.title}}</li>
            <li><strong>Description:</strong> {{this.description}}</li>
            <li><strong>Category:</strong> {{this.category}}</li>
            <li><strong>Price:</strong> {{this.price}}</li>
            <li><strong>Stock:</strong> {{this.stock}}</li>
            <li><strong>Code:</strong> {{this.code}}</li>
        </ul>
    {{/each}}
    {{#if prevLink}}
        {{!-- <button
            onclick="location.href='{{prevLink}}'"
            type="button"
        >Anterior</button> --}}
        <a href={{prevLink}}>Anterior</a>
    {{/if}}
    {{#if nextLink}}
        {{!-- <button
            onclick="location.href='{{nextLink}}'"
            type="button"
        >Siguiente</button> --}}
        <a href={{nextLink}}>Siguiente</a>
    {{/if}}
</div>